<%- include("../includes/navbar.ejs") %>
<title>404 : Page Not Found</title>
</head>
<body>
    <div class="main-container-error">
        <!-- <span style="display: inline-block; font-size: 100px; color: #000000; border-radius: 200px; padding: 10px 0px;">(◡︵◡)</span> -->
        <h1 class="empty-history">404</h1>
        <h1 class="empty-history">Page Not Found</h1>
    </div>
</body>
</html>