<%- include("../includes/navbar.ejs") %>
<title>Home Page</title>
</head>

<body>
    <%- include("../flash/success.ejs") %>
    <%- include("../flash/failure.ejs") %>
            <div class="welcome">
                <div class="heading">
                    <h2 class="system">Welcome to Hostelly</h2>
                    <p>Savor a delicious and healthy breakfast at our mess where
                        every item is prepared fresh daily,
                        ensuring a delightful start to your day.</p>
                </div>
                <!-- <div class="image-div"> -->
                    <img src="/assests/DrawKit-cooking-kitchen-food-vector-illustrations-03.png" alt="kitchen"
                    class="home-img" loading="lazy">
                <!-- </div> -->
                <!-- <a href="#" class="learn">Learn More</a> -->
            <!-- </div> -->
            </div>

            
</body>

</html>