<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Menu</title>
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    <div class="menu-item-container">
        <div class="item-heading">
            <h1>Today's Menu</h1>
            <p>Enjoy a healthy and tasty breakfast in our mess.We make all items
                fresh daily.</p>
        </div>
        <%
let latestBreakfast;
let latestLunch;
let latestDinner;

for (let menus of menu) {
if (
(menus.time.toUpperCase() === "BREAKFAST" && (!latestBreakfast || menus.updatedAt > latestBreakfast.updatedAt)) ||
(menus.time.toUpperCase() === "LUNCH" && (!latestLunch || menus.updatedAt > latestLunch.updatedAt)) ||
(menus.time.toUpperCase() === "DINNER" && (!latestDinner || menus.updatedAt > latestDinner.updatedAt))
) {
switch (menus.time.toUpperCase()) {
    case "BREAKFAST":
        latestBreakfast = menus;
        break;
    case "LUNCH":
        latestLunch = menus;
        break;
    case "DINNER":
        latestDinner = menus;
        break;
    default:
        break;
}
}
}

function displayMenuItem(menu) {
if (menu) {
%>
<div class="item-container">
    <div class="item-box">
        <h3><%= menu.time %></h3>
        <h5><%= menu.menuItem %></h5>
        <p>₹80</p>
        <form action="">
            <button>Order Now</button>
        </form>
    </div>
    <hr>
</div>
<%
} else {
%>
<div class="item-container">
    <div class="item-box">
        <h3>Not Update</h3>
        <h5>Not Update</h5>
        <p>₹80</p>
        <form action="">
            <button>Order Now</button>
        </form>
    </div>
    <hr>
</div>
<%
}
}

displayMenuItem(latestBreakfast);
displayMenuItem(latestLunch);
displayMenuItem(latestDinner);
%>

</body>
</html>