<%- include("../includes/navbar.ejs") %>
<link rel="stylesheet" href="/css/subscription.css"> 
<title>Mess Subscriptions</title>
</head>
<body>
    <%- include("../flash/success.ejs") %>
    <%- include("../flash/failure.ejs") %>
    <div class="container">
        <div class="card">
            <h1 class="heading-1">Weekly Plan</h1>
            <div class="icon"> <img src="/assests/7-days.png" alt=""></div>
            <div class="price">&#8377; 1197</div>
            <div class="description">
                <ul><i class="fa-solid fa-circle-check"></i> Enjoy delicious and nutritious meals every day of the week.</ul>
                <ul><i class="fa-solid fa-circle-check"></i> Perfect for those who want a variety of meals without a long-term commitment.</ul>
                <ul><i class="fa-solid fa-circle-check"></i> <b>Save 5%</b></ul>
            </div>
            <button class="action">Subscribe</button>
        </div>
        <div class="card">
            <h1 class="heading-1">Monthly Plan</h1>
            <div class="icon"> <img src="/assests/subscription.png" alt=""></div>
            <div class="price">&#8377; 4860</div>
            <div class="description">
                <ul><i class="fa-solid fa-circle-check"></i> Indulge in a month-long culinary journey with our monthly plan.</ul>
                <ul><i class="fa-solid fa-circle-check"></i> Perfect for those who desire a diverse menu and occasional discounts.</ul>
                <ul><i class="fa-solid fa-circle-check"></i> <b>Save 10%</b></ul>
            </div>
            <button class="action">Subscribe</button>
        </div>
        <div class="card">
            <h1 class="heading-1">Annual Plan</h1>
            <div class="icon"> <img src="/assests/annual.png" alt=""></div>
            <div class="price">&#8377; 55958</div>
            <div class="description">
                <ul><i class="fa-solid fa-circle-check"></i> Maximize your savings with our yearly membership.</ul>
                <ul><i class="fa-solid fa-circle-check"></i> As a loyal member, you'll also receive priority access to new menu items and events.</ul>
                <ul><i class="fa-solid fa-circle-check"></i> <b>Save 15%</b></ul>
            </div>
            <button class="action">Subscribe</button>
        </div>
    </div>
</body>

</html>
