*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color : black;
    font-family: 'Poppins', sans-serif;}

body{
    overflow-x: hidden;
}

:root {
    --primary-color: rgb(239, 241, 237);
    --secondary-color: rgb(30, 46, 222);
    --shade-of-secondary-color: rgb(20, 30, 144);
    --ternary-color: rgb(23, 15, 17);
}

.page-1-container{
    height: fit-content;
}

.navbar {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top : 0px;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid black;
}

.left {
    margin-left: 20px;
    justify-self: start;
}

.mid {
    display: flex;
    column-gap: 10px;
    text-align: center;
    justify-self: center;
    justify-content: space-evenly;
}

.right {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.Register{
    font-size: 14px;
    color: white;
    padding: 7px;
    border-radius : 5px;
    background-color: var(--secondary-color);
}

.Login{
    margin-right: 5px;
    font-size: 14px;
}

.welcome-h2{
    font-size: 50px;
}

.welcome {
    display: flex;
    justify-content: center;
}

.welcome-container{
    display: flex;
    width: fit-content;
    justify-content: start;
    padding: 40px;
    /* background-color: black; */
}

.heading{
    width: fit-content;
    text-align: start;
    width: 40%;
    padding: 10px;
    /* padding-right: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.welcome-container-child{
    height: 50%;
}

.img-div{
    /* width: 40%; */
    height: fit-content;
    text-align: end;
}

.heading p {
    /* width: 85%; */
    color: gray;

}

.home-img{
    width: 92%;
}

.learn{
    color: white;
    padding: 7px;
    border-radius : 5px;
    background-color: var(--secondary-color);
    width: 100px;
    margin: 50px auto;
    text-align: center;
}

.menu-item-container{
    width: 95%;
    /* height: 100vh; */
    margin: auto;
    border-radius : 20px;
    padding: 10px;
    background-color : rgb(239, 241, 237);
    text-align: center;
}

.item-heading{
    width: 50%;
    margin: auto;
}

.item-heading p {
    /* color : #FFECD6; */
    margin-top:20px;
}

.item-container{
    padding: 0px 100px 0px 100px;
    margin-top: 80px;
}

.item-box{
    display: flex;
    align-items : center;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
}

.item-box h5{
    /* color : #d6f7ff; */
    text-align: start;
    width: 40%;
    font-weight: normal;
}

.alert {
    padding: 15px;               
    align-items: center;
    text-align: center;
    font-size: 16px;             
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px auto;            
    width: 50%;                   
    border: 1px solid transparent;
    border-radius: 8px;          
}

.success {
    color: #6ea8fe;
    background-color: #031633;
    border: 2px solid #084298;
}

.failure {
    color: #ea868f;
    background-color: #2c0b0e;
    border: 1px solid #842029;
}

.order-now{
    border: none;
}

.main-history-container{
    display: block;
    width: 100%;
    margin:10px auto;
}

.history-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.card {
    width: 13.6%;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    overflow: hidden;
    padding: 20px;
}

.add-heading-card{
    min-height: 150px;
}

.card-title {
    /* font-size: 1.2em; */
    /* margin-bottom: 10px; */
}

.card-text {
    font-weight: 700;
    /* text-align: center;   */
    margin-bottom: 8px;
}


.qr-container {
    margin: 50px;
    text-align: center;
}

.qr-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.warning {
    color: red;
}

.qr-heading {
    font-size: 24px;
    margin-bottom: 10px;
}


.empty-history{
    margin-top: 20px;
    text-align: center;
}

.poll-heading{
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* .menu-poll-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: red;
} */

.menu-poll-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.poll-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poll-menu-box {
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
}

.poll-label {
    font-size: 16px;
}

.poll-btn{
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.poll-btn:hover {
    background-color: #0056b3;
}


.attendance-container {
    width: 80%;
    margin: 10px auto;
    text-align: start;
    padding: 15px;
}
.dataItem-heading{
    display: flex;
    justify-content: space-between;
}

.attendance-heading {
    /* font-size: 20px;  */
    margin-bottom: 20px;
}

.attendance-card {
    text-align: start;
    padding: 15px 15px 15px 0px;
    margin: 5px;
    /* border-radius: 5px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-bottom   : 2px solid black;
}

.attendance-btn{
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
    margin: auto;
}

.overview{
    padding: 40px 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--primary-color);
    /* background-color: var(--primary-color); */
}

.top{
    /* background-color: blue; */
    padding: 30px;
    padding-top: 0px;
    width: 640px;
}

.bottom{
    /* background-color: red; */
    display: flex;
    padding: 20px;
    padding-top: 0px;
}

/* .mess-img > img{
    width: 150%;
} */

.content{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


