*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(239, 241, 237);
    --secondary-color: rgb(30, 46, 222);
    --shade-of-secondary-color: rgb(20, 30, 144);
    --ternary-color: rgb(23, 15, 17);
}

.formArea{
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 7px 7px 20px rgba(23, 15, 17, 0.1);
}

.formArea form{
    display: flex;
    flex-direction: column;
}

.label{
    font-weight: 500;
}

.dropdown, 
textarea{
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
    margin-top: 3px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    transition: border-color 0.3s ease;
    &:focus {
        border: 1.7px solid var(--secondary-color);
        outline: none;
    }
}

.dropdown{
    cursor: pointer;
}

textarea{
    resize: none;
}

.div{
    width: 100%;
    margin-top: 8px;
}


.closure{
    margin-top: 8px;
    font-size: 13px;
}

.closure1{
    margin-top: 10px;
    font-size: 13px;
}


.action{
    background-color: var(--secondary-color);
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    padding: 13px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--shade-of-secondary-color);
    }
}
