* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color:peachpuff;
    --secondary-color: #1e2ede;
    --shade-of-secondary-color: rgb(20, 30, 144);
    --ternary-color: rgb(23, 15, 17);
}

.feedback-container {
    display: flex;
    width: 98%;
    margin: 100px auto;
    /* border:1px solid black; */
    padding: 20px;
    /* border-radius: 8px; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: black; */
    height: 355px;
}


.feedback-card {
    animation: scroll 30s linear infinite;
    width: 340px;
    background-color:rgb(221, 213, 207);
    padding: 20px;
    border-radius: 8px;
    /* max-height: 300px; */
    overflow-y: auto;
    word-wrap: break-word;
    flex-shrink: 0;
}



.feedback-card:not(:last-child){
    margin-right: 20px;
}

.feedback-comment {
    max-height: 149px;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.feedback-comment > p{
    height: 150px;
}

.date {
    font-size: small;
}

::-webkit-scrollbar{
    width: 6px;
    height: 1px;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

@keyframes scroll{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-400%);
    }
}


@media (max-width : 900px) {
    .feedback-card{
        font-size: 10px;
        width: 200px;
        height: 200px;
    }
    .feedback-comment > p{
        height: 50px;
    }
    .feedback-container{
        margin: 0px;
        height: 40vh;
    }
}
