<%- include("../includes/headerFile.ejs") %>

</head>

<body>
    <div class="largeContainer">
        <div class="footer-container">
            <div class="footer-contact">   
                <h1>Contact Us</h1>
                <div class="bottom">
                    <div class="contact-card">
                        <div class="left">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="right">
                            <p>Email</p>
                            <p>aadu2212@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-card">
                        <div class="left">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="right">
                            <p>Phone</p>
                            <p>6969696969</p>
                        </div>
                    </div>
                    <div class="contact-card">
                        <div class="left">
                            <i class="fa-solid fa-location-crosshairs"></i>
                        </div>
                        <div class="right">
                            <p>Location</p>
                            <p>69, Anal Street, Near porn industries, Sex City</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.7399406847208!2d72.5931246196103!3d23.10661392756561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83ca44aa1c3b%3A0x743c9384d21946e!2sVGEC%20Boys%20Hostel-2!5e0!3m2!1sen!2sin!4v1708965045755!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>

</html>
