<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/overview.css">
</head>
<body>
    <div class="page-1-container">
        <div class="navbar">
            <div class="left">
                <a href="/home" class="Hostelly">MessMeal</a>
            </div>
            <div class="mid">
                <a href="/home" class="Home">Home</a>
                <a href="/home/menu" class="Reports">Menu</a>
                <a href="/home/subscription" class="Meal_subscriptions">subscriptions</a>
                <%if(currUser && currUser.username !== "admin"){%>
                    <a href="/home/history">History</a>
                <%}%>
                <%if(currUser && currUser.username == "admin"){%>
                    <a href="/menu/addMenu">Add Menu</a>
                    <a href="/menu">History</a>
                    <a href="/menu/poll">Poll</a>
                    <a href="/menu/inventory">Inventory</a>
                    <%}%>
                    <a href="/home/feedback" class="Feedback">Feedback</a>
                        <a href="/menu/getPoll">Poll Menu</a>
            </div>
            <div class="right">
                <% if (!currUser) { %>
                    <p>
                        <a href="/log-in" class="Login">Login</a>
                        <a href="/sign-up" class="Register">Register</a>
                    </p>
                    <% } else { %>
                        <a href="/log-out" class="Register">Log Out</a>
                    <% } %>
            </div>
        </div>

        <div class="sidebar">
            <a href="javascript:void(0);" class="closebtn" onclick="toggleNav()">
                <i class="fas fa-xmark"></i>
            </a>
            <div class="sidebar-content">
                <a href="/home" class="Home">Home</a>
                <a href="/home/menu" class="Reports">Menu</a>
                <a href="/home/subscription" class="Meal_subscriptions">subscriptions</a>
                <%if(currUser && currUser.username !== "admin"){%>
                    <a href="/home/history">History</a>
                <%}%>
                <%if(currUser && currUser.username == "admin"){%>
                    <a href="/menu/addMenu">Add Menu</a>
                    <a href="/menu">History</a>
                    <a href="/menu/poll">Poll</a>
                <%}%>
                <a href="/home/feedback" class="Feedback">Feedback</a>
                <a href="/menu/getPoll">Poll Menu</a>
            </div>
        </div>
        <div class="open-sidebar" onclick="toggleNav()">
            <i class="fas fa-bars"></i>
        </div>



<script>
    function toggleNav() {
        var sidebar = document.querySelector('.sidebar');
        sidebar.style.width = (sidebar.style.width === '250px' || sidebar.style.width === '') ? '0' : '250px';
    }
</script>

</body>
</html>
